<nav>
  <a class="<%= path === '/' ? 'active' : ''%>" href="/">Waether</a>
  <a class="<%= path === '/about' ? 'active' : ''%>" href="/about">About</a>
  <a class="<%= path === '/help' ? 'active' : ''%>" href="/help">Help</a>
</nav>
