<%- include('./templates/head.ejs') %>
<main class="page-not-found">
  <h1 class="error-num"><%= errorNum%></h1>
  <p class="error-msg"><%= errorMsg %></p>
  <a href="/">back to home</a>
</main>
<%- include('./templates/footer.ejs') %>